target
/test-output
/out
/http/target
/sms/target

# jira plugin
/atlassian-ide-plugin.xml

# Intellij Idea
*.iml
.idea/**
.idea
**/project/target
**/project/project/target

# WorkSheet files
#*.sc

# test logs
/catalina.home_IS_UNDEFINED

project/
